@import "../base/base.scss";

.notifications-page {
  background-color: $color-bg;
  width: 100%;
  height: calc(100vh - 11rem);
  padding: 1.6rem;
  overflow: scroll;
  padding-bottom: 20rem;
}

.notifications {
  &__container {
    margin-top: 1.6rem;
  }
}
