$color-primary: #30b06f;
$color-primary-light: #5ec05d;
$color-primary-dark: #21ab75;

$color-white: #ffffff;
$color-critical: #e54c4c;
$color-important: #aa8bff;
$color-blue: #4c89e5;

$color-close: #dd6d6d;
$color-comment-container: #ebeeed;
$color-comment-text: #504d4d;

$color-bg: #f6f6f6;
$color-bg-2: #fdfdfd;
$color-inactive: #ced0cf;
$color-strokeLine: #d6d5d5;
$color-input-bg: #f6f6f6;
$color-navTab-bg: #f0f3f0;
$color-link: #2cac96;

$color-reaction-btn: #f0f5f3;

$color-grey-veryLight: #d3d3d3;
$color-grey-light: #788a97;
$color-grey-medium: #6c6a6a;
$color-grey-dark: #3f3939;

$color-grey-light-2: #9a9e9c;
$color-grey-fab-link: #585656;

$color-notification-title: #4b584e;
$color-notification-description: #6d6c6c;

$default-max-width: 40rem;
