@import "../base/base.scss";

.resource-form {
  &__group {
    width: 100%;
    max-width: $default-max-width;
    margin: 3.2rem auto;
  }

  &__input-label {
    display: block;
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    color: $color-grey-medium;
    font-weight: 500;
  }

  &__input {
    width: 100%;
    outline: none;
    border: 1px solid $color-strokeLine;
    padding: 1rem;
    margin-top: 1.6rem;
    border-radius: 1rem;
    transition: all 0.2s;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    color: $color-grey-medium;

    &::placeholder {
      color: $color-grey-light-2;
    }

    &:focus {
      border: 1px solid $color-primary;
    }

    &--title {
    }

    &--description {
      resize: none;
    }

    &--link {
      color: $color-link;
    }

    &--attachment {
      color: $color-link;
      cursor: pointer;

      &::file-selector-button {
        display: none;
        visibility: hidden;
      }
    }
  }
}
