@import "../base/base.scss";

.resource-type {
  &__container {
    width: 100%;
    max-width: $default-max-width;
    margin: auto;
    border: 1px solid $color-strokeLine;
    background-color: $color-white;
    border-radius: 0.7rem;
    // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    position: relative;
  }

  &__active-bg {
    display: block;
    width: calc((100% - 2.4rem) / 2);
    background-color: $color-navTab-bg;
    align-self: center;
    padding: 0.4rem 0;
    position: absolute;
    border-radius: 0.4rem;
    z-index: 50;
    transition: all 0.2s;

    &--left {
      left: 0.8rem;
    }

    &--right {
      left: 50%;
    }
  }

  &__element {
    width: 50%;
    display: flex;
    justify-content: center;
  }

  &__radio-label {
    font-family: "Poppins", sans-serif;
    font-size: 1.3rem;
    color: $color-grey-light;
    padding: 0.8rem 2rem;
    border-radius: 0.5rem;
    transition-delay: 0.1s;
    cursor: pointer;
    z-index: 200;
  }

  &__radio {
    display: none;
    visibility: hidden;

    &--attachment {
    }

    &--link {
    }
  }

  &__radio--attachment:checked + &__radio-label {
    color: $color-blue;
  }

  &__radio--link:checked + &__radio-label {
    color: $color-blue;
  }
}
