@import "../base/base.scss";

.fab-link {
  &__container {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &:not(:last-child) {
      margin-bottom: 0.8rem;
    }
  }

  &__title {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: $color-grey-fab-link;
    transition: all 0.2s;
  }

  &__icon-container {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    margin-left: 0.8rem;
    background-color: $color-white;
    border: 1px solid $color-strokeLine;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    backface-visibility: hidden;
  }

  &__icon {
    height: 1.6rem;
    filter: brightness(0) saturate(100%) invert(69%) sepia(14%) saturate(1292%)
      hue-rotate(90deg) brightness(95%) contrast(84%);
  }

  &__container:active &__title {
    color: $color-primary;
  }

  &__container:active &__icon-container {
    border-color: $color-primary;
  }
}
