@import "../base/base.scss";

.post {
  &__container {
    width: 100%;
    max-width: $default-max-width;
    margin: auto;
    background-color: $color-white;
    border-radius: 0.8rem;
    border: 1px solid $color-strokeLine;
    overflow: hidden;
    margin-bottom: 1.2rem;

    &:last-child {
      margin-bottom: 14rem;
    }
  }

  &__header {
    margin: 1.2rem;
    margin-top: 2.2rem;
    display: grid;
    grid-template-columns: min-content 1fr max-content;
    grid-column-gap: 1rem;
    grid-row-gap: 1.6rem;
  }

  &__user-img {
    height: 4rem;
    width: 4rem;
    object-fit: cover;
    border-radius: 50%;
    backface-visibility: hidden;
    transform: translateY(-1rem);

    grid-row: span 2;
  }

  &__user-name {
    font-family: "Righteous", cursive;
    font-size: 1.6rem;
    color: $color-grey-medium;
    font-weight: 500;
  }

  &__menu-container {
    position: relative;
  }

  &__text {
    font-family: "Inter", sans-serif;
    font-size: 1.4rem;
    color: #504d4d;
    grid-column: span 2;
  }

  &__image-container {
    width: 100%;
    backface-visibility: hidden;
    position: relative;
  }

  &__image {
    width: 100%;
    backface-visibility: hidden;
  }

  &__time-stamp {
    display: block;
    margin: 0.8rem 1.2rem;
    border-bottom: 1px solid $color-strokeLine;
    padding-bottom: 0.8rem;
    color: $color-grey-light;
  }

  &__reaction-container {
    margin: 1.6rem 1.2rem;
    display: flex;
  }

  &__reaction-btn {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    padding: 0.5rem;
    background-color: $color-reaction-btn;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc((100% - 1.2rem) / 2);
    border: none;
    outline: none;
    color: #69766f;
    transition: all 0.05s;
    cursor: pointer;

    &:first-child {
      margin-right: 1.2rem;
    }

    &:active {
      background-color: darken($color: $color-reaction-btn, $amount: 5%);
    }
  }

  &__reaction-icon {
    height: 1.5rem;
    margin-right: 0.8rem;
  }
}

.post-menu {
  &__label {
    // display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 3.4rem;
    width: 3.4rem;
    position: absolute;
    top: 0;
    right: 0;
    backface-visibility: hidden;
    transition: all 0.2s;

    &:hover {
      background-color: #ececec;
    }

    & > * {
      width: 2rem;
    }
  }

  &__icon {
  }

  &__checkbox {
    display: none;
    visibility: hidden;
  }

  &__options-container {
    background-color: $color-white;
    padding: 0.6rem;
    border-radius: 1rem;
    border-top-right-radius: 0;
    border: 1px solid $color-strokeLine;
    box-shadow: 0 0.4rem 1rem rgba(#000, 0.2);
    position: absolute;
    right: 0;
    top: 3rem;
    z-index: 20;
    animation: moveInTopRight 0.2s ease-in-out;
    transform-origin: top right;
  }

  &__options-list {
    list-style-type: none;
  }

  &__options-list-item {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  &__option-button {
    color: #7a7171;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    width: 100%;
    padding: 0.8rem;
    padding-left: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 0.6rem;
    transition: all 0.1s;

    &:hover {
      background-color: #ececec;
    }

    &:active {
      background-color: #dfdfdf;
    }

    &--danger {
      &:hover {
        border: 1px solid $color-critical;
      }
    }
  }

  &__options-list-icon-container {
    // background-color: orange;
    width: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.6rem;
  }

  &__item-icon {
    height: 1.6rem;
  }
}

@keyframes moveInTopRight {
  0% {
    transform: scale(0);
    visibility: hidden;
    display: none;
    opacity: 0;
  }

  100% {
    transform: scale(1);
    visibility: visible;
    display: block;
    opacity: 1;
  }
}
